@define-color background #1f1d2e;
@define-color foreground #e6e1ff;
@define-color select     #2a2738;

@define-color pink       #f5bde6;
@define-color purple     #b7a6ff;
@define-color red        #f28fad;
@define-color orange     #f5c37b;
@define-color yellow     #f7e3a6;
@define-color green      #b7f5c4;
@define-color blue       #9ad1ff;
@define-color gray       #34354a;

