@import "../colors/colors.css";

* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 13px;
    font-weight: bold;
    background-color: transparent;
    border-radius: 5px;
    min-height: 0;
}

window,
tooltip {
    background-color: @background;
}

#waybar {
    background: alpha(@background, 0.1);
    border-radius: 0;
}

#workspaces {
    margin: 1px 0;
}

#workspaces button {
    color: @foreground;
    border: none;
    padding: 0 5px;
}

#workspaces button.active {
    color: @blue;
    padding: 0 8px;
    margin: 0 2px;
}

#custom-power,
#tray,
#bluetooth,
#network,
#battery,
#pulseaudio,
#clock {
    color: @foreground;
    margin: 1px 0;
    padding: 0 10px;
}

#custom-power:hover,
#bluetooth:hover,
#network:hover,
#battery:hover,
#pulseaudio:hover,
#clock:hover {
    background-color: alpha(@select, 0.4);
}

#bluetooth {
    color: @yellow;
}

#network {
    color: @green;
}

#battery {
    color: @purple;
}

#pulseaudio {
    color: @orange;
}

#clock {
    margin-right: 10px;
    color: @blue;
}

#custom-power {
    margin-left: 10px;
    padding: 0px 10px 0 15px;
}
